[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
gphotospy = "*"
dependency-injector = {extras = ["yaml"], version = "*"}
pandas = "*"
dataclasses-json = "*"
jsonpath-ng = "*"
flask = "*"
tqdm = "*"
uwsgi = "*"
python-magic = "*"
pillow = "*"
gradio-client = "*"

[dev-packages]
ipython = "*"
pdoc3 = "*"

[requires]
python_version = "3.11"
