[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
gphotospy = "*"
dependency-injector = {extras = ["yaml"] }
pandas = "*"
dataclasses-json = "*"
jsonpath-ng = "*"
tqdm = "*"
python-magic = "*"
pillow = "*"
gradio-client = "*"
setuptools = "*"
fastapi = "*"
uvicorn = "*"
nicegui = "*"

[dev-packages]
ipython = "*"
pdoc3 = "*"
black = "*"

[requires]
python_version = "3.11"
